@import "navbar";

#header {
    z-index: 997;
    transition: all 0.5;
    height: 80px;
    background: rgba(25, 28, 31, 0.8);

    .header-scrolled {
        height: 60px;
        background: rgba(25, 28, 31, 0.8);
    }
}
